<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">
    <title>Enter an Amount</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Coin Counter</h1>
      </div>
    <form action="/Coin/Display" method="post" >
      <input id=""formCoin"" type="number" name="input-change" placeholder="Enter cent amount">
      <button type="submit" class="btn btn-success" name="button">Do it!</button>
    </form>
  </div>
  </body>
</html>
